body{
  text-align:center;
  font-family:Arial;
  background:#0a7d2c;
  color:white;
}

button{
  padding:12px 20px;
  margin:10px;
  font-size:18px;
}

.goal{
  width:320px;
  height:180px;
  border:5px solid white;
  margin:20px auto;
  position:relative;
}

#keeper{
  position:absolute;
  bottom:10px;
  left:140px;
  font-size:40px;
}

#home{
  position:relative;
  background-image:url("./IMG_4283.jpeg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height:100vh;
}

#startBtn{
  position:absolute;
  top:49%;
  left:50%;
  transform:translate(-50%,-50%);
  width:380px;
  height:170px;
  opacity:0.0;
}

#playerBtn{
  position:absolute;
  top:67%;
  left:29%;
  transform:translate(-50%,-50%);
  width:250px;
  height:120px;
  opacity:0.4;
}

#settingsBtn{
  position:absolute;
  top:62%;
  left:72%;
  transform:translate(-50%,-50%);
  width:200px;
  height:110px;
  opacity:0.4;
}