body{
  text-align:center;
  font-family:Arial;
  background:#0a7d2c;
  color:white;
}

button{
  padding:12px 20px;
  margin:10px;
  font-size:18px;
}

.goal{
  width:320px;
  height:180px;
  border:none;
  margin:20px auto;
  position:relative;
}
#keeper{
  position:absolute;
  bottom:-480px;
  left:120px;
  width:100px;
  height:auto;
}


#home{
  position:relative;
  background-image:url("./IMG_4283.jpeg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height:100vh;
}

#startBtn{
  position:absolute;
  top:49%;
  left:50%;
  transform:translate(-50%,-50%);
  width:380px;
  height:170px;
  opacity:0.0;
}

#playerBtn{
  position:absolute;
  top:68%;
  left:27%;
  transform:translate(-50%,-50%);
  width:280px;
  height:170px;
  opacity:0.0;
}

#settingsBtn{
  position:absolute;
  top:68%;
  left:72%;
  transform:translate(-50%,-50%);
  width:280px;
  height:170px;
  opacity:0;
}

#players{
  position:relative;
  background-image:url("BD30B1BB-5594-48F4-975E-530A0EBF1EF5.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height:100vh;
}
#players{
  position:relative;
  background-image:url("BD30B1BB-5594-48F4-975E-530A0EBF1EF5.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height:100vh;
}

#ronaldoBtn{
  position:absolute;
  top:26%;
  left:0.3%;
  width:300px;
  height:510px;
  opacity:0;
  background:transparent;
  border:none;
  padding:0;
  margin:0;
}

#messiBtn{
  position:absolute;
  top:26%;
  left:35%;
  width:270px;
  height:510px;
  opacity:0;
  background:transparent;
  border:none;
  padding:0;
  margin:0;
}

#neymarBtn{
  position:absolute;
  top:26%;
  left:69%;
  width:300px;
  height:510px;
  opacity:0;
  background:transparent;
  border:none;
  padding:0;
  margin:0;
}
#players button:last-child{
  position:absolute;
  top:20px;
  left:20px;
  opacity:1;
}
#game{
  position:relative;
  background-image:url("IMG_4316.jpeg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  min-height:100vh;
}